body{
    background-color: gold;
}

.heading{
    width: 80%;
    font-size: xx-large;
}
.name_of_objects{
    color: navy;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
#result{
    border: 2px dashed black;
    width: 350px;
    height: 300px;  
}
